body {
  background-color: #f5f5f5;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.app-container {
  display: grid;
  grid-template-areas: "input-area input-area  output-area";
  width: 1200px;
  height: 784px;
  padding: 40px;
  border-radius: 32px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

/* INFO: Text to encrypt/decrypt area*/
.left-area {
  display: flex;
  flex-direction: column;
  width: 800px;
  grid-area: input-area;
  background-color: transparent;
}

.logo {
  width: 120px;
  margin-left: -42px;
}

.input-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.txt-input {
  width: 500px;
  height: 590px;
  margin-top: -20px;
  font-size: 14pt;
  resize: none;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  border-style: solid;
  margin-bottom: 32px;
  color: #0a3871;
}

.icon {
  font-size: 9pt !important;
  margin-right: 4px;
  opacity: 0.5;
}

.label-info {
  margin-left: -310px;
  font-size: 8.5pt;
  margin-bottom: 8px;
  color: #495057;
}

.left-buttons {
  display: flex;
  gap: 32px;
}

.crypt-button {
  background-color: #0a3871;
  border: 2px solid #0a3871;
  color: white;
}

.crypt-button:active {
  background-color: rgba(10, 56, 113, 0.9);
}

.decrypt-button,
.copy-button {
  background-color: #d8dfe8;
  border: 2px solid #0a3871;
  color: #0a3871;
}

.decrypt-button:active,
.copy-button:active {
  background-color: rgba(10, 56, 113, 0.1);
}

.btn {
  width: 240px;
  height: 57px;
  font-size: 12pt;
  border-radius: 18px;
  border-style: solid;
  cursor: pointer;
}

/* INFO: Text encrypted/decrypted area */
.right-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: output-area;
  width: 300px;
  border-radius: 32px;
  padding: 32px;
  box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
}

.delectable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-image {
  width: 300px;
}

.label-right-top {
  font-size: 18pt;
  color: #343a40;
  font-weight: 600;
}

.label-right-bottom {
  font-size: 9pt;
  color: #495057;
}

.txt-output {
  width: 300px;
  height: 620px;
  resize: none;
  margin-bottom: 32px;
  border-style: solid;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  color: #495057;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 16px;
  border-radius: 10px;
  background-color: #0a3871;
  color: white;
  width: 600px;
  height: 75px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/* Mobile */
@media (max-width: 767px) {
  .app-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    padding: 20px;
    overflow-y: scroll;
  }
  .left-area {
    width: 100%;
  }
  .txt-input {
    width: 100%;
    height: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12pt;
  }
  .label-info {
    margin-left: 0;
  }
  .left-buttons {
    flex-direction: column;
    gap: 16px;
  }
  .btn {
    width: 240px;
    height: 48px;
    font-size: 12pt;
    border-radius: 18px;
    border-style: solid;
    cursor: pointer;
  }
  .right-area {
    width: 90%;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: none;
  }
  .right-image {
    display: none;
  }
  .label-right-top {
    font-size: 18pt;
  }
  .label-right-bottom {
    font-size: 9pt;
  }
  .txt-output {
    width: 100%;
    height: 300px;
    margin-bottom: 16px;
    font-size: 12pt;
  }

  .alert {
    width: 85%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .app-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 20px;
    /* border-radius: 0px; */
    /* box-shadow: none; */
    overflow-y: scroll;
  }
  .left-area {
    width: 100%;
  }
  .txt-input {
    width: 100%;
    height: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12pt;
  }
  .label-info {
    margin-left: 0;
  }
  .left-buttons {
    /* flex-direction: column; */
    gap: 16px;
  }
  .btn {
    width: 240px;
    height: 48px;
    font-size: 12pt;
    border-radius: 18px;
    border-style: solid;
    cursor: pointer;
  }
  .right-area {
    width: 95%;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    /* border-radius: 0px; */
    box-shadow: none;
  }
  .right-image {
    display: none;
  }
  .label-right-top {
    font-size: 18pt;
  }
  .label-right-bottom {
    font-size: 9pt;
  }
  .txt-output {
    width: 100%;
    height: 300px;
    margin-bottom: 16px;
    font-size: 12pt;
  }

  .alert {
    width: 90%;
  }
}
